@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-mode-primary{
        @apply  text-primary dark:text-white;
    }
    .text-mode-slate{
        @apply  text-slate-500 dark:text-slate-400;
    }

    .text-mode-white{
        @apply  text-black dark:text-white;
    }

    .app-body{
        @apply bg-slate-100 dark:bg-slate-800 min-h-screen flex flex-col;
    }
    .app-banner{
        @apply fixed top-0 left-0 w-full h-16 bg-white dark:bg-slate-700 flex items-center;
    }
    .app-main{
        @apply flex-grow flex;
    }
    .app-search-home {
        @apply bg-slate-100 flex items-center rounded-xl dark:bg-slate-600 ;
    }
    .app-search-home > input {
        @apply bg-transparent p-2 md:p-1 text-base md:text-xs ;
    }
    .app-search-home > div {
        @apply p-2 md:p-1 border-r-2 border-slate-200;
    }

    .app-search-home > input:active {
        border: none;
        outline: none;
    }

    .app-search-home > input:focus {
        border: none;
        outline: none;
    }

    .option-menu{
        @apply w-full h-full fixed top-0 left-0 bg-slate-100 dark:bg-slate-800;
    }
    .app-container-fade{
        @apply bg-white shadow-lg rounded-xl dark:bg-slate-700 dark:shadow-slate-800;
    }
    .app-navbar{
        @apply w-[15rem] fixed top-16 left-0 bg-slate-100 dark:bg-slate-800;
        height: calc(100vh - 5.926vh);
    }

    .app-navbar-right{
        @apply w-[8rem] md:w-[12rem] fixed top-16 right-0 bg-slate-100 dark:bg-slate-800;
        height: calc(100vh - 5.926vh);
    }
    .app-insert-post{
        @apply flex justify-center;
    }
}